/* Start reset css */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* End reset css */



/* Start Custom properties */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);
}






/* End Custom properties */


body {
    min-height: 100vh;
    background-color: var(--Dark-cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 50vh right 50vw, top 50vh left 50vw;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    text-align: center;
    display: grid;
    place-content: center;
}



.card {
    background-color: white;
    max-width: 325px;
    min-width: 325px;
    margin: 0 20px;
    border-radius: 16px;
    overflow: hidden;
    display: grid;

}

@media (min-width:376px) {
    .card {
        max-width: 360px;
    }
}

.bg {
    position: relative;
}

.profile {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    border: 6px solid white;
}

.texts {
    margin: 70px 0px 0px;
}

.name-age {
    display: flex;
    justify-content: center;
    gap: 14px;

}

.age,
.town {
    font-weight: 400;
    color: var(--Dark-gray);
}


.town {
    font-size: 14px;
}


.stats {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    border-top: 1px solid #e8e8e8;
    padding: 23.5px 0;
}


.followers,
.likes,
.photos {
    font-weight: 400;
    color: var(--Dark-gray);
    font-size: 10px;
    letter-spacing: 1.6px;
}